/* login.css */

body {
    margin: 0;
    padding: 0;
    /* background-color: #bed0ca; */
    background-image: url('https://img.freepik.com/free-photo/movie-background-collage_23-2149876030.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
}

h1 {
    text-align: center;
    color: #0e2424;
    margin: 0;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin: 0;
}

.container {
    /* padding: 20px; */
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}


.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1); /* Different background color */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); /* Shadow */
    border-radius: 10px; /* Rounded edges */
}

.container-login {
    /* padding: 20px; */
    max-width: 60%;
    background-color: #ced4da; /* Background color for the container */
    border-radius: 10px; /* Rounded edges */
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ced4da;
    width: 80%; /* Adjust the width of the input fields */
    margin: 0 auto; /* Center the input fields horizontally */
}



.btn-primary {
    background-color: #0e2424;
    color: #fff;
    width: auto; /* Adjust width */
    padding: 10px 20px; /* Increase padding */
    border: none;
    border-radius: 5px; /* Rounded corners for button */
}

.btn-primary:hover {
    background-color: #1f4d4d;
}

a {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

.btn-login {
    width: auto; /* Adjust the width as needed */
    padding: 8px 16px; /* Add padding to make the button visually appealing */
    justify-content: center;
    align-items: center;
}
