<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }} - Movie Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='movie_details.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="body-movie">
    <header class="header">
        <div class="back-button-container">
            <a class="back-button" href="{{ url_for('index') }}"><i class="fas fa-arrow-left"></i> Back to Homepage</a>
        </div>
        <div class="title-container">
            <h3>{{ movie.title }} - Movie Details</h3>
        </div>
    </header>
<div class="movie-container">
    <div class="container">
        <div class="movie-details">
            <img src="{{ movie.poster_url }}" alt="{{ movie.title }}">
        </div>

        <div class="movie-info">
            <h2>{{ movie.title }}</h2>
            <p><strong>Description:</strong> {{ movie.description }}</p>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Actors:</strong> {{ movie.actors }}</p>
            <p><strong>Year:</strong> {{ movie.year }}</p>
        </div>
    </div>

    <div class="container">
             <div class="add-review-section">
            <h2>Add a Review</h2>
            {% if current_user.is_authenticated %}
            <form method="POST" action="{{ url_for('movie_details', movie_id=movie.id) }}" id="review-form">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.content.label }}
                    {{ form.content(class="form-control", rows=6) }}
                </div>
                <div class="form-group">
                    {{ form.rating.label }}<br>
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1 star</label>
                    </div>
                </div>
                <button type="submit">Submit Review</button>
            </form>
            {% else %}
            <p>You need to <a href="{{ url_for('login') }}">log in</a> to write a review.</p>
            {% endif %}
        </div>
        <ul class="reviews">
            {% for review in reviews %}
            <li class="review-item">
                <strong class="review-content">User: {{ review.user.username }}</strong><br>
                <strong class="review-content">Content:</strong> {{ review.content }}<br>
                <strong class="review-content">Rating:</strong>
                {% if review.rating is not none %}
                {% set rating = review.rating|int %}
                {% for i in range(1, 6) %}
                {% if i <= rating %}
                <i class="fas fa-star review-rating"></i>
                {% else %}
                <i class="far fa-star review-rating"></i>
                {% endif %}
                {% endfor %}
                {% else %}
                Not rated
                {% endif %}
            </li>
            {% endfor %}
        </ul>
   

    </div>
</div>
    <script src="{{ url_for('static', filename='star_rating.js') }}"></script>
</div>
</body>

</html>
